@page "/all"
@using BlazorProjectVenkat.Shared
@if (Employees == null)
{
	<h3>Loading Data...</h3>
}
else
{
	<h3>All Employees</h3>
	@{ 
    var intialGrouping = (new string[] { "Gender", "FirstName" });
}
	<SfGrid DataSource="@Employees" AllowGrouping="true">
	 <GridGroupSettings Columns="@intialGrouping" ShowDropArea="false" ShowGroupedColumn="true" ShowUngroupButton="false" ShowToggleButton="true"></GridGroupSettings>
	     <GridGroupSettings>
        <CaptionTemplate>
            @{
                var employee = (context as CaptionTemplateContext);
                <div>@employee.Field : @employee.Key - @employee.Count Employees</div>
            }
        </CaptionTemplate>
    </GridGroupSettings>
	 <GridColumns>
	  <GridColumn Field=@nameof(Employee.EmployeeId) HeaderText="ID"></GridColumn>
	  <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name"></GridColumn>
	  <GridColumn AllowGrouping="false" Field=@nameof(Employee.LastName) HeaderText=" Last Name"></GridColumn>
	  <GridColumn Format="d" Field=@nameof(Employee.DateOfBrith) HeaderText="Date of Birth"></GridColumn>
	  <GridColumn Field=@nameof(Employee.Gender) HeaderText="Gender"></GridColumn>
	  <GridColumn AllowGrouping="false" Field=@nameof(Employee.Email) HeaderText="Email"></GridColumn>
	 </GridColumns>
	</SfGrid>
}

@code {
	public List<Employee> Employees { get; set; }

	[Inject]
	public IEmployeeService EmployeeService { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Employees = (await EmployeeService.GetAllEmployees()).ToList();
	}
}